:root {
  --main-color: #5cd2b8;
  --bg-color: #151515;
  --text-header-color: #fff;
  --text-link-color: #f1f1f1;
  --text-paragraph-color: #999999;
  --main-transition: 0.5s;
  --transition-alt: 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #0c0c0c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* img{
    max-width: 100%;
} */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Components */
.logo {
  color: var(--text-header-color);
}
.logo h1 {
  font-size: 45px;
  color: var(--main-color);
  margin: 0;
}
.logo span {
  font-size: 6px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--text-link-color);
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.links a {
  color: var(--text-link-color);
  font-size: 16px;
  padding: 8px;
  transition: 0.5s;
  border-radius: 5px;
}
.links a:hover {
  color: var(--main-color);
  background-color: white;
}

.special-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.special-title h3 {
  color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.special-title h1 {
  color: var(--text-header-color);
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
}
.special .special-title h1 span {
  color: var(--main-color);
}
.special .special-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.special {
  display: flex;
  flex-direction: column;
}
.special .special-text {
  color: var(--text-paragraph-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.special .special-text p {
  font-size: 16px;
  line-height: 1.6;
}
.special .special-text a {
  color: var(--text-link-color);
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: var(--main-transition) ease-in;
  display: block;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  margin-top: 10px;
}
.special .special-text a:hover {
  background-color: var(--text-link-color);
  color: var(--main-color);
}
@media (max-width: 768px) {
  .special .special-title {
    text-align: center;
  }
  .special .special-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .special .special-text {
    text-align: center;
  }
  .special .special-text a {
    margin: 0 auto;
  }
}

.elevator{
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #5cd2b970;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.elevator a{
  color: white;
}
/* End Components */

/* Start nav */
nav {
  background-color: var(--bg-color);
  padding: 10px 0;
  height: 100px;
  display: flex;
  align-items: center;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  nav .container {
    padding: 0 30px;
  }
}

nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  nav .nav-right {
    display: none;
  }
}

nav .search {
  transition: var(--main-transition);
  display: flex;
  align-items: center;
  gap: 5px;
}
nav .search i {
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}
nav .search input {
  border: 1px solid var(--main-color);
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  color: var(--text-link-color);
  width: 0px;
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 12px;
}
nav .search:hover input {
  width: 120px;
  opacity: 1;
  transform: scale(1);
}
nav .search input:focus {
  outline: none;
}
nav .checkbtn {
  font-size: 30px;
  color: var(--main-color);
  display: none;
}
#check {
  display: none;
}
@media (max-width: 992px) {
  nav .logo h1 {
    font-size: 35px;
  }
  nav .logo span {
    font-size: 6px;
  }
  nav .checkbtn {
    display: block;
  }

  nav .nav-right {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    top: 100px;
    z-index: 2;
    left: -100%;
    display: block;
    transition: 0.5s;
  }
  nav .nav-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background-color: #777;
  }
  nav .nav-right .links {
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }
  nav .links li {
    display: block;
  }
  nav .links li a {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  nav .nav-right .search {
    margin-top: 30px;
    justify-content: center;
  }
  #check:checked ~ .nav-right {
    left: 0;
    /* left: -100%; */
  }
}
/* End nav */

/* Start Hero */
.hero {
  height: calc(100vh - 100px);
  background-color: #0c0c0c;
  background-image: linear-gradient(to right, #0c0c0c 30%, rgb(22 62 55 / 88%));
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content {
  width: 50%;
  margin-left: 200px;
}
.hero .hero-content .hero-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.hero .hero-content .hero-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.hero .hero-content .hero-title h3 {
  color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.hero .hero-content .hero-title h1 {
  color: var(--text-header-color);
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.hero .hero-content .hero-title h1 span {
  color: var(--main-color);
}

.hero .hero-content .hero-text p {
  color: var(--text-paragraph-color);
}
.hero .hero-img {
  max-width: 550px;
  opacity: 0.8;
  align-self: flex-end;
}
@media (max-width: 992px) {
  .hero .hero-content {
    margin-left: 60px;
  }
  .hero .hero-content .hero-title h3 {
    font-size: 14px;
  }
  .hero .hero-content .hero-title h1 {
    font-size: 45px;
  }
  .hero .hero-img {
    max-width: 400px;
    height: 630px;
  }
}
@media (max-width: 768px) {
  .hero .hero-content {
    margin-left: 0;
    margin-top: 75px;
    width: 100%;
    padding: 50px 15px 0;
  }
  .hero .hero-content .hero-title h3 {
    font-size: 16px;
  }
  .hero .hero-content .hero-title h1 {
    font-size: 40px;
  }

  .hero {
    flex-direction: column;
    justify-content: space-between;
  }
  .hero .hero-img {
    max-width: 300px;
    height: 430px;
    align-self: flex-end;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-content .hero-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* End Hero */

/* Start About */
.about {
  background-color: #0c0c0c;
  padding: 60px 0 0;
  overflow: hidden;
}
.about .container {
  display: flex;
}
.about .container .about-img {
  width: 380px;
  align-self: flex-end;
}
@media (max-width: 992px) {
  .about .container .about-img {
    display: none;
  }
}
.about .container .about-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
  .about .container .about-box .special .special-title,
  .about .container .about-box .special .special-text p {
    text-align: center;
  }
  .about .container .about-box .special .special-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.about .container .about-box .about-details {
  display: flex;
  flex-wrap: wrap;
}
.about .container .about-box .about-details .about-details-box {
  flex: 1;
  display: flex;
  gap: 10px;
}

.about .container .about-box .about-details .about-details-box .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.3;
  transition: var(--main-transition) ease-in;
}
.about .container .about-box .about-details .about-details-box .text:hover {
  opacity: 1;
}
.about .container .about-box .about-details .about-details-box .text h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.about .container .about-box .about-details .about-details-box .text p {
  color: #95a09c;
}
.about .container .about-box .about-details .about-details-box img {
  width: 50px;
  align-self: start;
  transition: var(--main-transition) ease-in;
}
.about .container .about-box .about-details .about-details-box img:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .about .container .about-box .about-details {
    gap: 50px;
  }
  .about .container .about-box .about-details .about-details-box {
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .about .container .about-box .about-details .about-details-box img {
    align-self: center;
  }
}
/* End About */
/* Start Services */
.services {
  padding: 60px 0;
  background-color: black;
  color: white;
}
.services .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.services .container .special,
.services .container .services-box {
  flex: 1;
}
.services .container .services-box {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.services .container .services-box .services-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services .container .services-box .services-col .service-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0c0c0c;
  padding: 20px;
  border-radius: 10px;
  transition: var(--main-transition) ease-in;
}
.services .container .services-box .services-col .service-box:hover {
  transform: scale(1.05);
}
.services .container .services-box .services-col:nth-child(1) {
  transform: translateY(-30px);
}
.services
  .container
  .services-box
  .services-col:nth-child(1)
  .service-box:nth-child(2),
.services
  .container
  .services-box
  .services-col:nth-child(2)
  .service-box:nth-child(1) {
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent 30%,
    rgb(22 62 55 / 60%)
  );
}
.services .container .services-box p {
  color: #95a09c;
}
.services .container .services-box .services-col .service-box img {
  width: 80px;
}

@media (max-width: 992px) {
  .services .container {
    flex-direction: column;
  }
  .services .container .special {
    text-align: center;
  }
  .services .container .special .special-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .services .container .special a.specialBtn {
    margin: 0 auto;
    margin-top: 10px;
  }
  .services .container .services-box {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .services .container .services-box {
    flex-direction: column;
    gap: 20px;
  }
  .services .container .services-box .services-col:nth-child(1) {
    transform: translateY(0);
  }
  .services .container .services-box .services-col {
    gap: 20px;
  }
  .services .container .services-box .services-col .service-box {
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      transparent 30%,
      rgb(22 62 55 / 60%)
    );
  }
}

/* End Services */

/* Start Break */
.break {
  background-image: linear-gradient(to right, #1b312d, #000000b8),
    url(../imgs/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
}
.break .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.break .container .break-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .break .container .break-box {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 325px) {
  .break .container .break-box {
    flex-basis: calc(100% - 20px);
  }
}

.break .container .break-box img {
  width: 70px;
}
.break .container .break-box .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.break .container .break-box .text .title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}
.break .container .break-box .text h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--main-color);
}
.break .container .break-box .text h1 span {
  font-size: 30px;
  color: var(--text-header-color);
  font-weight: 600;
  margin-left: 4px;
}
.break .container .break-box .text p {
  color: var(--text-paragraph-color);
}

/* End Break */

/* Start Projects */
.projects {
  background-color: black;
  padding: 100px 0;
}
.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 30px;
}

.projects .container .project-content {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .projects .container {
    grid-template-columns: minmax(100px, 1fr);
  }
  .projects .container .project-content {
    grid-column: span 1;
  }
}
.projects .container .project-content .project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects .container .project-content .project-list li {
  color: var(--text-header-color);
  display: flex;
}
.projects .container .project-content .project-list li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  width: 10px;
  height: 10px;
  font-weight: 900;
  color: var(--main-color);
  margin-right: 20px;
}
@media (max-width: 768px) {
  .projects .container .project-content .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.projects .container .project-img {
  overflow: hidden;
}
.projects .container .project-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: var(--transition-alt) ease-in;
}
.projects .container .project-img img:hover {
  transform: rotate(5deg) scale(1.1);
}

/* End Projects */

/* Start Break Two */
.break-two {
  padding: 60px 0;
  background-image: linear-gradient(to left, #1b312d, #000000b8),
    url(../imgs/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.break-two .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.break-two .container img {
  max-width: 225px;

  filter: grayscale(100%);
  transition: var(--transition-alt) ease-in;
}
.break-two .container img:hover {
  filter: grayscale(0);
}
@media (max-width: 768px) {
  .break-two .container {
    grid-template-columns: minmax(100px, 1fr);
    justify-content: center;
    align-items: center;
  }
  .break-two .container img {
    margin: 0 auto;
  }
}
/* End Break Two */
/* Start Why */
.why {
  background-color: black;
  padding: calc(70px + 100px) 0;
}
.why .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -70px;
}
.why .container .special {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.why .container .special .special-title::before {
  display: none;
}
.why .container .special .special-title {
  flex: 1;
}
.why .container .special .special-text {
  flex: 1;
  justify-content: space-between;
  /* margin-top: 150px; */
  transform: translateY(70px);
}
.why .container .special .special-text .project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why .container .special .special-text .project-list li {
  color: var(--text-header-color);
}
.why .container .special .special-text .project-list li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  width: 10px;
  height: 10px;
  font-weight: 900;
  color: var(--main-color);
  margin-right: 20px;
}

.why .container .why-content {
  display: flex;
  gap: 30px;
}
.why .container .why-content .why-img {
  flex: 1;
}
.why .container .why-content .why-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.why .container .why-content .why-img:nth-child(2) {
  transform: translateY(70px);
}
@media (max-width: 768px) {
  .why {
    padding: 100px 0;
  }
  .why .container .special {
    flex-direction: column;
  }
  .why .container {
    margin-top: 0;
  }
  .why .container .special .special-text {
    transform: translateY(0);
  }
  .why .container .why-content .why-img:nth-child(2) {
    transform: translateY(0px);
  }
}
@media (max-width: 576px) {
  .why .container .why-content {
    flex-direction: column;
  }
}
/* End Why */
/* Start Team */
.team {
  background-image: linear-gradient(to right, #111111, #00000058),
    url(../imgs/Bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}
.team .container .special {
  text-align: center;
}
.team .container .special .special-title::before {
  left: 50%;
  transform: translateX(-50%);
}
.team .container .team-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.team .container .team-content .team-box {
  background-color: #151515;
  flex: 1;
  flex-basis: calc(50% - 10px);
  display: flex;
  overflow: hidden;
}
.team .container .team-content .team-box img {
  max-width: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: var(--transition-alt) ease-in;
}
.team .container .team-content .team-box img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}
.team .container .team-content .team-box .team-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  justify-content: space-between;
}
.team .container .team-content .team-box .team-info .team-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.team .container .team-content .team-box .team-info .team-details .title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.team .container .team-content .team-box .team-info .team-details .title h3 {
  color: var(--text-header-color);
}
.team .container .team-content .team-box .team-info .team-details .title p {
  color: var(--main-color);
}
.team .container .team-content .team-box .team-info .team-details .text {
  color: var(--text-paragraph-color);
}

.team .container .team-content .team-box .team-info .social {
  justify-self: flex-end;
  display: flex;
  gap: 10px;
}
.team .container .team-content .team-box .team-info .social i {
  color: var(--text-header-color);
}
@media (max-width: 992px) {
  .team .container .team-content .team-box {
    flex-basis: calc(100% - 10px);
  }
}
@media (max-width: 768px) {
  .team .container .team-content .team-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .team .container .team-content .team-box .team-info .social {
    width: 100%;
    justify-content: center;
  }
}

/* End Team */
/* Start Protfolio */
.protfolio {
  background-color: black;
  padding: 100px 0;
}
.protfolio .container .special {
  text-align: center;
}
.protfolio .container .special .special-title::before {
  left: 50%;
  transform: translateX(-50%);
}
.protfolio .container .protfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .protfolio .container .protfolio-content {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.protfolio .container .protfolio-content .protfolio-box {
  overflow: hidden;
}
.protfolio .container .protfolio-content .protfolio-box img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-alt) ease-in;
}
.protfolio .container .protfolio-content .protfolio-box img:hover {
  transform: scale(1.05);
}
/* End Protfolio */
/* Start Testimonial */
.testimonial {
  padding: 100px 0;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.49)),
    url(../imgs/adadad.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.testimonial .container {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .testimonial .container {
    flex-direction: column;
  }
}
.testimonial .container .special {
  flex-basis: 55%;
}
.testimonial .container .testimonial-box {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1414147b;
  padding: 30px;
}
.testimonial .container .testimonial-box .text {
  color: #95a09c;
  line-height: 1.6;
}
.testimonial .container .testimonial-box .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.testimonial .container .testimonial-box .user img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .container .testimonial-box .user .user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonial .container .testimonial-box .user .user-info p.user-name {
  color: var(--text-header-color);
}
.testimonial .container .testimonial-box .user .user-info p.user-job {
  color: var(--main-color);
}
@media (max-width: 350px) {
  .testimonial .container .testimonial-box {
    text-align: center;
  }
  .testimonial .container .testimonial-box .user {
    flex-direction: column;
  }
  .testimonial .container .testimonial-box .user img.quote {
    display: none;
  }
}
/* End Testimonial */
/* Start blog */
.blog {
  padding: 60px 0;
  background-color: black;
}
.blog .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog .special {
  text-align: center;
}
.blog .special .special-title::before {
  left: 50%;
  transform: translateX(-50%);
}
.blog .blogs {
  display: flex;
  gap: 50px;
}
.blog .blogs .blog-box {
  flex: 1;
  color: white;
  /* box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
  padding: 20px; */
}
.blog .blogs .blog-box .blog-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog .blogs .blog-box .blog-content .blog-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog .blogs .blog-box .blog-content .blog-title h2 {
  color: var(--main-color);
  font-size: 18px;
}
.blog .blogs .blog-box .blog-content .blog-title p {
  color: var(--text-paragraph-color);
}
.blog .blogs .blog-box .blog-img {
  overflow: hidden;
}
.blog .blogs .blog-box .blog-img img {
  max-width: 100%;
  transition: var(--transition-alt);
}
.blog .blogs .blog-box:hover .blog-img img {
  transform: rotate(-1deg) scale(1.05);
}

.blog .blogs .blog-box .blog-content .blog-category {
  display: flex;
  gap: 15px;
}
.blog .blogs .blog-box .blog-content .blog-category div {
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.blog .blogs .blog-box .blog-content .blog-category div i {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .blog .blogs {
    flex-direction: column;
    gap: 20px;
  }
}
/* End blog */
/* Start Contact us */
.contact {
  padding: 60px 0;
  background-color: #0c0c0c;
  overflow: hidden;
}
.contact .container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.contact .container .contact-content .contact-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact .container .contact-content .contact-list li {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact .container {
    flex-direction: column;
  }
  .contact .container .contact-content .contact-list {
    align-items: center;
  }
  .contact .container .contact-content .contact-list li {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contact .container .contact-content .contact-list li .contact-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.contact .container .contact-content .contact-list li i {
  font-size: 40px;
  color: var(--main-color);
}
.contact .container .contact-content .contact-list li .contact-text h3 {
  color: var(--main-color);
  font-size: 16px;
}
.contact .container .contact-content .contact-list li .contact-text span {
  color: var(--text-link-color);
  font-size: 14px;
}

.contact .container .contact-content,
.contact .container .contact-form {
  flex: 1;
}

.contact .container form.contact-form {
  padding: 20px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .container form.contact-form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .container form.contact-form .inputs label {
  color: var(--main-color);
}
.contact .container form.contact-form .inputs input,
.contact .container form.contact-form .inputs textarea {
  border: 1px solid var(--main-color);
  background-color: transparent;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  caret-color: var(--main-color);
}

.contact .container form.contact-form .inputs textarea {
  height: 100px;
  resize: none;
}
.contact .container form.contact-form input.contactBtn {
  padding: 20px;
  display: block;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  border: none;
  transition: var(--main-transition);
}
.contact .container form.contact-form input.contactBtn:hover {
  background-color: var(--text-link-color);
  color: var(--main-color);
}
/* End Contact us */

/* Start Footer */
footer{
  padding: 30px 0 ;
  overflow: hidden;
  background-image: radial-gradient(#0c1c19 30%, #0c0c0c 60%);
  background-attachment: fixed;
  background-position: center;
  text-align: center;

}
footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
footer .container ul.links li a{
  color: var(--main-color);
}
footer .container ul.links{
  flex-wrap: wrap;
}
footer .container p{
  font-size: 16px;
  color: var(--text-paragraph-color);
}
footer .container .socials{
  display: flex;
  gap: 30px;

}
footer .container .socials i{
  font-size: 16px;
  color: var(--main-color);
  transition: var(--transition-alt) ease-in;
}
footer .container .socials i:hover{
  transform: scale(1.3);
}
/* End Footer */